<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="split-fields">
    <div class="field">
        <%= f.text_field :name, :placeholder => "New List Name" %>
    </div>
    <div class="button">
        <%= f.submit "Add List" %>
    </div>  
  </div>

  
<% end %>
