

	
	<%= @count = 1 %>
	<% @lists.each do |list| %>
	
	<div id='tabs-<%= @count %>' class="tab">
	
	    <div class="new-task">
    	    <%= simple_form_for(@task) do |f| %>

                <%= f.input :done , :as => :hidden,  :input_html => {:value => false }%>
    		    <%= f.input :list_id , :as => :hidden,   :input_html => {:value => list.id }%>

                <div class="task-input">
                    <%= f.input :name , :label => false, :placeholder => "Enter a new task" %>
                </div>
        	    <div class="task-button">
        	        <%= f.button :submit %>
        	    </div>
        	    
        	<% end %>	    
	    </div>

	
		<ul id='todo_list'>
			<% list.tasks.each do |task| %>

				<% unless task.done %>
					<%= simple_form_for(task) do |f| %>

			 		<li> 
					<%= f.input :done ,   :input_html => { :class => 'box'  } , :label => false  %>
					<%= f.button :submit ,  :class => 'hidden'   %>
					<%= task.name %>   
					<%= link_to 'X', task, :confirm => 'Are you sure?', :method => :delete %>

			  		</li>
		
					<% end %>
				<% end %>
			<% end %>
		</ul>
	
		<h2>Finished</h2>
		<ul>
			<% list.done_tasks.each do |task| %>
				<li><%= task.name %> </li>
				<% end %>
		</ul>
	
	</div>
	<% @count += 1%>
	
	<%end%>
	

    <div id="tabs-new-list">
	  	<%= simple_form_for(@task) do |f| %>

		    <%= f.input :name %><br />

		    <%= f.input :done , :as => :hidden,  :input_html => {:value => false }%>


		    <%= f.button :submit %>

		<% end %>
	
	</div>

	
</div>


<script>
	$('.box').click(function(event) {
		$(this).parent().next().click();
	});
	


</script>