<!DOCTYPE html>
<html>
<head>
  <title>Getting Things Done with Engine Yard AppCloud</title>
  
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "jq-tabs" %>
 
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.13.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="all">
        <div id="header">
            <div id="logo">
            	<a href="http://www.engineyard.com">Engine Yard</a>
            </div>
            <h1><span class="intro">Getting Things Done</span> deployed on <span class="branding">Engine Yard AppCloud</span></h1>
            <p class="sample">Sample Deployment Application</p>
        </div>
        <div id="content">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
            <%= yield %>
        </div>
		<div id="foot">
			<div class="copyright">
			<p>   
			  Running on Engine Yard: <a href="http://engineyard.com/products/appcloud">The Ruby Cloud</a> and <a href="http://www.rubyonrails.org">Rails 3</a><br>
			  Ruby is the Language of the Cloud.<br>
			  Copyright © Engine Yard, Inc. All rights reserved.
			</p>
			</div>
		</div>
    </div>
</body>
</html>
