<!DOCTYPE html>
<html>
<head>
  <title>Listr</title>
  
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "jq-tabs" %>
 
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.13.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header">
        <div id="logo"></div>
        <h1><span class="intro">Getting Things Done</span> with <span class="branding">Engine Yard AppCloud</span></h1>
    </div>
    <div id="all">
        <%= yield %>
    </div>
    
</body>
</html>
